@media only screen and (max-width:768px)
{
	img#page1
	{
		width:100%;
	}
}


@media only screen and (max-width:480px)
{
	img#page1
	{
		width:100%;
        margin-bottom:-10%;
        margin-top:20%;
	}
}  